
html{
  font-family: monospace;
}

nav.menu{
  margin-top: 100px;
  text-align: center;

}

nav.menu li.btn{
  display: inline-flex;
  border: dashed;
  border-color: white;
  font-size: 20px;
}

nav.menu li.btn a{
  color: white;
  background-color: black;
  text-decoration: none;
  border-color: black;
  padding: 8px;
}

nav.menu li.btn:hover a{
  color: black;
  background-color: white;
  transition: 0.3s all;
}

body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  font-size: 80px;
}

p{
  color: #900C3F;
  text-align: center;
  align-self: center;
}
input{
  font-size: 20px;

  text-align: center;
}
